<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
  background-color: #0000FF;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
}
</style>
</head>
<body>

<h2 style="text-align:center;">Panel for HR Manager</h2>

<p style="text-align:center;">you can retrieve information directly from here.</p>

<button onclick="window.location.href='num';">
  Get records count
</button>
<button onclick="window.location.href='ret';">
  Retrieve information by ID
</button>
<button onclick="window.location.href='conv';">
  Get Resume by ID
</button>
<button onclick="window.location.href='is1';">
  Get Beginning time Picture
</button>
<button onclick="window.location.href='im2';">
  Get Ending time picture
</button>
<button onclick="window.location.href='voice';">
  Get Candidate Introduction
</button>

</body>
</html>
