<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
  background-color: #0000FF;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
}
</style>
</head>
<body>

<h2 style="text-align:center;">Mechanical engineering</h2>

<p style="text-align:center;">Click start button to start your interview</p>
<button onclick="window.location.href='map';">
  START!
</button>

</body>
</html>
